.cardAvailability {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: var(--colorCyan);
    border: 2px solid var(--colorBlack);
    box-shadow: 4px 4px 0px var(--colorBlack);

    .cardAvailabilityDateContainer {
        display: flex;
        background-color: var(--colorWhite);
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--colorBlack);
        padding: 12px;
        gap: 4px;

        .cardAvailabilityDay {
            font-family: Mansfield-SemiBold;
            font-size: 20px;
            color: var(--colorBlack);
        }

        .cardAvailabilityMonth {
            font-family: Mansfield-SemiBold;
            font-size: 14px;
            color: var(--colorBlack);
        }

        .cardAvailabilityYear {
            font-family: Mansfield-SemiBold;
            font-size: 14px;
            color: var(--colorBlack);
        }
    }

    .cardAvailabilityDetails {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        padding: 0 4px;

        .cardAvailabilityDoctor {
            font-family: Mansfield-SemiBold;
            font-size: 24px;
            color: var(--colorBlack);
        }

        .cardAvailabilityTime {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardAvailabilityLocation {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardAvailabilitySpecialty {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }
    }

    &:active {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0px var(--colorBlack);
    }
}

.cardAvailabilityModal {
    margin-bottom: 12px;

    .cardAvailabilityModalTitle {
        font-family: Mansfield-SemiBold;
        font-size: 24px;
        color: var(--colorBlack);
        text-align: center;
        margin-bottom: 8px;
    }

    .cardAvailabilityModalDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid var(--colorBlack);

        &:last-child {
            border-bottom: none;
        }

        .cardAvailabilityModalLabel {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardAvailabilityModalValue {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }
    }
}