.mainButton {
    height: fit-content;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Mansfield;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--colorBlack);
    border: 2px solid var(--colorBlack);
    box-shadow: 4px 4px 0px var(--colorBlack);
    transition: all 0.3s ease;
    cursor: pointer;
}

.buttonCyan {
    background-color: var(--colorCyan);
}

.buttonCyan:active {
    background-color: var(--colorWhite);
}

.buttonYellow {
    background-color: var(--colorYellow);
}

.buttonYellow:active {
    background-color: var(--colorCyan);
}

.buttonWhite {
    background-color: var(--colorWhite);
}

.buttonWhite:active {
    background-color: var(--colorYellow);
}

.buttonRed {
    background-color: var(--colorRed);
}

.buttonRed:active {
    background-color: var(--colorWhite);
}

.mainButton:hover {
    color: var(--colorBlack);
    border: 2px solid var(--colorBlack);
    box-shadow: none;
}

.mainButton:active {
    box-shadow: none;
    transform: translateY(4px);
}
