.cardDisponibility {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: var(--colorCyan);
    border: 2px solid var(--colorBlack);
    box-shadow: 4px 4px 0px var(--colorBlack);

    .cardDisponibilityDateContainer {
        display: flex;
        background-color: var(--colorWhite);
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--colorBlack);
        padding: 12px;
        gap: 4px;

        .cardDisponibilityDay {
            font-family: Mansfield-SemiBold;
            font-size: 20px;
            color: var(--colorBlack);
        }

        .cardDisponibilityMonth {
            font-family: Mansfield-SemiBold;
            font-size: 14px;
            color: var(--colorBlack);
        }

        .cardDisponibilityYear {
            font-family: Mansfield-SemiBold;
            font-size: 14px;
            color: var(--colorBlack);
        }
    }

    .cardDisponibilityDetails {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        padding: 0 4px;

        .cardDisponibilityDoctor {
            font-family: Mansfield-SemiBold;
            font-size: 24px;
            color: var(--colorBlack);
        }

        .cardDisponibilityTime {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardDisponibilityLocation {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardDisponibilitySpecialty {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }
    }

    &:active {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0px var(--colorBlack);
    }
}

.cardDisponibilityModal {
    margin-bottom: 12px;

    .cardDisponibilityModalTitle {
        font-family: Mansfield-SemiBold;
        font-size: 24px;
        color: var(--colorBlack);
        text-align: center;
        margin-bottom: 8px;
    }

    .cardDisponibilityModalDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid var(--colorBlack);

        &:last-child {
            border-bottom: none;
        }

        .cardDisponibilityModalLabel {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardDisponibilityModalValue {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }
    }
}