.cardAppointment {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    border: 2px solid var(--colorBlack);
    box-shadow: 4px 4px 0px var(--colorBlack);

    .cardAppointmentDateContainer {
        display: flex;
        background-color: var(--colorWhite);
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--colorBlack);
        padding: 12px;
        gap: 4px;

        .cardAppointmentDay {
            font-family: Mansfield-SemiBold;
            font-size: 20px;
            color: var(--colorBlack);
        }

        .cardAppointmentMonth {
            font-family: Mansfield-SemiBold;
            font-size: 14px;
            color: var(--colorBlack);
        }

        .cardAppointmentYear {
            font-family: Mansfield-SemiBold;
            font-size: 14px;
            color: var(--colorBlack);
        }
    }

    .cardAppointmentDetails {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        padding: 0 4px;

        .cardAppointmentDoctor {
            font-family: Mansfield-SemiBold;
            font-size: 24px;
            color: var(--colorBlack);
        }

        .cardAppointmentTime {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardAppointmentLocation {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }
    }

    &:active {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0px var(--colorBlack);
    }
}

.cardAppointmentModal {
    margin-bottom: 12px;
    
    .cardAppointmentModalTitle {
        font-family: Mansfield-SemiBold;
        font-size: 24px;
        color: var(--colorBlack);
        text-align: center;
        margin-bottom: 8px;
    }

    .cardAppointmentModalDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid var(--colorBlack);

        &:last-child {
            border-bottom: none;
        }

        .cardAppointmentModalLabel {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }

        .cardAppointmentModalValue {
            font-family: Mansfield-SemiBold;
            font-size: 16px;
            color: var(--colorBlack);
        }
    }
}
