.requestAppointment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: auto;
    border: 2px solid var(--colorBlack);
    background: var(--colorWhite);
    padding: 16px;

    h1 {
        font-family: Mansfield-SemiBold;
        font-size: 28px;
        color: var(--colorBlack);
    }

    .requestAppointmentList {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .notFoundAvailabilities {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        font-family: Mansfield-SemiBold;
        height: 400px;
        width: 100%;
        color: var(--colorBlack);
        font-size: 24px;
    }
}

.requestAppointmentAlertModal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}