.home {
    height: 100%;
    display: flex;
    padding: 4px;
    padding-bottom: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid var(--colorBlack);
    gap: 120px;
}